.burger {
  width: 100%;
  height: 800px;
  text-align: center;
}
.bun-top {
  width: 30%;
  height: 70px;
  margin: 0 auto;
  border-radius: 60% 60% 0% 0%;
  background-color: darkgoldenrod;
  box-shadow: inset 0px -10px #c4a65c;
}
.cheese {
  width: 32%;
  height: 10px;
  margin: 0 auto;
  background-color: yellow;
  box-shadow: 0px 5px 0px rgb(210, 216, 54);
  margin-top: 1px;
}
.ketchup {
  width: 25%;
  height: 40px;
  margin: 0 auto;
  background-color: red;
  box-shadow: 0px 5px 0px rgb(216, 54, 54);
  margin-top: 5px;
}
.onion {
  width: 20%;
  height: 20px;
  margin: 0 auto;
  background-color: rgb(170, 15, 170);
  border-top: dotted rgb(227, 162, 206);
  border-top-width: 30px;
  margin-top: 5px;
}
.meatball {
  width: 5%;
  height: 70px;
  display: inline-block;
  background-color: brown;
  border-radius: 50%;
}
.pickle {
  width: 20%;
  height: 40px;
  border-radius: 0px 0px 50px 50px;
  margin: 0 auto;
  background-color: rgb(7, 145, 46);
  box-shadow: 10px 10px 0px 10px green;
}
.patty {
  width: 25%;
  height: 40px;
  margin: 0 auto;
  background-color: rgb(146, 24, 24);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 10px 10px 0px 10px rgb(104, 14, 19);
  margin-top: 5px;
}
.bun-bottom {
  width: 30%;
  height: 70px;
  margin: 0 auto;
  background-color: #b8860b;
  border-radius: 10px 10px 40px 40px;
  box-shadow: inset 10px 10px #c4a65c;
}
.plate {
  width: 40%;
  height: 30px;
  margin: 0 auto;
  border-radius: 0px 0px 25px 25px;
  background-color: grey;
}
