.container {
  background-color: rgb(216, 216, 37);
  height: 40px;
  text-align: right;
  padding-right: 40px;

}

.default--button {
  padding: 10px;
  background-color: transparent;
  border: 1px solid black;
}
.default--button:hover {
  background-color: yellow;
  cursor: pointer;
}
p {
  text-decoration: underline;
  font-size: 0.8rem;
}
.forma-javascript {
  width: 160px;
  margin: 0;
  margin-left: 88%;
  padding: 10px;
  background-color: whitesmoke;
  margin-top: 15px;
  display: none;
}
input {
  margin: 5px;
  width: 120px;
}
form {
  text-align: center;
  padding: 5px;
}

.button--js--prisijungti {
  background-color: red;
  padding: 5px;
  color: white;
  border: none;
}
.button--js--prisijungti:hover {
  background-color: rgb(229, 100, 100);
  cursor: pointer;
}
