* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    rgba(199, 189, 189, 0.7),
    rgba(255, 255, 255, 0.5),
    rgba(199, 189, 189, 0.7)
  );
}
.header {
  background-color: #242226;
  text-align: center;
}
.header__h1 {
  color: white;
  display: inline-block;
}
.header__nav {
  list-style: none;
  text-align: right;
}
.header__nav > li {
  display: inline-block;
  color: white;
  margin-right: 10px;
}

.header__nav > li:not(:last-child) {
  padding: 15px;
}
.header__nav > li:not(:last-child):hover {
  background-color: #82b0d9;
}
.header__nav a {
  text-decoration: none;
  color: white;
}

.header__div {
  width: 50%;
  margin: 0 auto;
}
.header__span {
  width: 45%;
  display: inline-block;
  text-align: left;
}
.section__div {
  width: 35%;
  margin: 0 28%;
  margin-right: 0%;
  background-color: white;
  margin-top: 25px;
  padding: 25px;
  box-shadow: 2px 2px 2px 2px white;
}
.section__h2 {
  color: #82b0d9;
  padding: 5px;
  padding-top: 15px;
}
figure {
  display: inline-block;
  width: 45%;
}
.aside__figure {
  padding-top: 5px;
  display: block;
  width: 100%;
}
img {
  width: 100%;
}
.button {
  padding: 10px;
  background-color: #242226;
  color: white;
}
.section__div__right {
  float: right;
  padding: 10px;
  width: 50%;
}
.section__p {
  padding-bottom: 20px;
}
.section__div2__left {
  display: inline-block;
  width: 45%;
}
.section__div2__right {
  width: 45%;
  float: right;
  height: 150px;
  margin-right: 50px;
  padding-left: 20px;
}
.section__div2__p {
  padding-bottom: 20px;
}
.section__p2 {
  padding-left: 5px;
  padding-bottom: 20px;
}
footer {
  height: 30px;

  width: 100%;
  text-align: center;
}
.footer__span {
  margin-left: 150px;
}
.footer__p {
  margin-right: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.aside__div__top {
  float: right;
  width: 15%;
  color: white;
  background-color: #82b0d9;
  margin-right: 20%;
  padding: 30px;
}
.aside__div__p {
  padding-top: 10px;
}
.aside__div2__top {
  float: right;
  width: 15%;
  color: black;
  background-color: white;
  margin-right: 20%;
  padding: 30px;
}
.aside__div_3 {
  display: inline-block;
  width: 20%;
}
.aside__div_4 {
  float: right;
  margin-right: 20px;
}
.aside__div_a {
  text-decoration: none;
}
.aside__div_a:hover {
  color: blue;
}
button:hover {
  background-color: #82b0d9;
  cursor: pointer;
}
.aside__div_4 li {
  list-style-type: none;
  padding-top: 2px;
}
