* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  background-color: #344859;
  color: white;
}
.menu > h1,
nav {
  padding: 10px;
}

.menu > nav > ul {
  list-style-type: none;
}
li:hover {
  color: red;
  cursor: pointer;
}
li:active {
  color: pink;
}
li:visited {
  text-decoration: underline;
  color: blue;
}

button:hover {
  background-color: pink;
  cursor: pointer;
}
button:active {
  background-color: red;
}
button:visited {
  background-color: blue;
}

li {
  width: 4%;
}

.background--picture {
  background-image: url("images/pexels-michael-block-1691617-3225529.jpg");
  height: 150px;
  text-align: center;
  padding-top: 50px;
  background-size: cover;
  background-position: 50% 50%;
}
h3 {
  text-align: center;
  margin: 10px;
}

.container {
  width: 60%;
  margin: 0 auto;
}
.main--picture {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}
img {
  width: 100%;
}
.container--default {
  width: 100%;
  border: 1px solid grey;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.padding--left--5px {
  padding-left: 15px;
}

.gap--from--bottom {
  padding-bottom: 10px;
}
.container--default > a {
  color: rgb(0, 200, 255);
  text-decoration: none;
  font-weight: 40px;
}

.footeris {
  background-color: #f2f2f2;
}
h5 {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 20px;
  color: #344859;
}
form {
  margin-left: 2.5%;
  padding-bottom: 25px;
}
input {
  width: 95%;
  padding: 7px;
}
form > div {
  margin-bottom: 15px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #03738c;
  color: white;
  margin-top: 5px;
}
.footeris-apetine {
  background-color: #344859;
  color: white;
  text-align: center;
  padding: 20px;
}
